.DS_STORE
.idea
composer.phar
/application/cache/*
!/application/cache/index.html
/application/config/constants_depend_app_1.php
/application/config/constants_depend_app_2.php
/application/config/constants_depend_app_3.php
/application/config/constants_depend_app_4.php
/vendor
/public/sessions
/public/uploads/files/*
!/public/uploads/files/index.html
/public/uploads/img_soal/*
!/public/uploads/img_soal/index.html
/public/uploads/img_app/*
!/public/uploads/img_app/index.html
/public/assets/template/*
!/public/assets/template/index.html
/public/assets/yarn/*
!/public/assets/yarn/index.html
/writeable/yarn/node_modules
/files/template
phoenix.php