.DS_STORE
.idea
/application/cache/*
!/application/cache/index.html
/application/config/config.php
/application/config/database.php
/application/config/constants_depend_app.php
/vendor
composer.phar
/public/sessions
/public/uploads/img_soal/*
!/public/uploads/img_soal/index.html
/public/assets
/writeable/yarn/node_modules