/application/cache/*
!/application/cache/index.html
/application/config/config.php
/application/config/database.php
/application/config/constants_depend_app.php
/vendor
composer.phar
/.idea
/assets/yarn/node_modules/*
/public/sessions
/public/uploads/img_soal/*
!/public/uploads/img_soal/index.html
.DS_STORE
/public/assets/*
!/public/assets/yarn/package.json
!/public/assets/yarn/yarn.lock